.acdm_coursegrid .et_module_title {
    margin-top: 15px;
}

.acdm_course_carousel .et_module_title {
    margin-top: 15px;
}

.acdm_course_filters .et_module_title {
    margin-top: 15px;
}

.acdm_enroll_form .et_module_title {
    margin-top: 15px;
}

.acdm_login_form .et_module_title {
    margin-top: 15px;
}

.acdm_reg_form .et_module_title {
    margin-top: 15px;
}

.acdm_search .et_module_title {
    margin-top: 15px;
}

